div.registration_tab_item {
	-webkit-transition: all 350ms ease-in-out;
	-moz-transition: all 350ms ease-in-out;
	-o-transition: all 350ms ease-in-out;
	transition: all 350ms ease-in-out;
}
/********************************************************************************************************************/
@media only screen and (min-width: 10px) {
	div.registration_tab_item {display: -webkit-flex;display: flex;padding: 5px;-webkit-align-items: center;align-items: center;border-radius: var(--default-border-radious);cursor: pointer;font-size: var(--fs_h6);opacity: 0.7;}
	div.registration_tab_item:hover,
	div.registration_tab_item.mpActive {opacity: 1;color: var(--theme-color);font-weight: var(--fw-bold);}
	div.registration_tab_item img {border: 1px solid var(--d_color);width: 25px;padding: 5px;margin: 0 10px 0 0;background-color: var(--d_color);}
	div.registration_tab_item:hover img,
	div.registration_tab_item.mpActive img {border-color: var(--theme-color);background-color: var(--theme-color);}
	div.mpwpb_item_box {cursor: pointer;width: calc(50% - var(--default-mp-xs));padding: var(--default-mp);margin: var(--default-mp-xs) 0;border-radius: var(--default-border-radious);position: relative;border: 2px solid transparent;}
	div.mpwpb_sub_category_area,
	div.mpwpb_service_area,
	div.mpwpb_extra_service_area,
	div.mpwpb_date_time_area,
	div.mpwpb_summary_area {display: none;}
	form.mpwpb_registration span.mpwpb_item_check {position: absolute;top: -9px;right: -9px;font-size: var(--fs_h6);opacity: 0;margin: 0; }
	div.mpwpb_item_box:hover,
	div.mpwpb_item_box.mpActive {border-color: var(--theme-color);color:var(--theme-color); }
	div.mpwpb_item_box.mpActive span.mpwpb_item_check {opacity: 1;}
	div.mpwpb_item_box  .bg_image_area{max-width: 250px;margin: 0 auto;}
	
	/*************/
	div.mpwpb_summary_area_left{display: none;}
	div.mpwpb_summary_area_left .mpwpb_summary_area_left_title{background-color: var(--theme-color);color: var(--theme-alternate-color);padding: var(--default-mp-xs);text-align: center;border-radius: var(--default-border-radious) var(--default-border-radious) 0 0; }
	div.mpwpb_summary_area_left_content{border-radius: 0 0 var(--default-border-radious) var(--default-border-radious);border: 1px solid var(--border_color);padding: var(--default-mp);}
	div.mpwpb_summary_item{position: relative;padding: 0 5px 15px 25px;display: none;border-left: 3px solid var(--theme-color);}
	div.mpwpb_summary_item span.mpwpb_item_check{opacity: 1;right:inherit;left: -14px;font-size: var(--fs_small);top: -3px; }
	div.mpwpb_summary_item:last-child{border-color: transparent;}
	/*************/
	div.mpwpb_summary_area div.mpwpb_summary_item{border: none;padding: 0 0 var(--default-mp-xs) 0;}
	div.mpwpb_summary_area h6{font-weight: normal;}
}
/********************************************************************************************************************/
@media only screen and (min-width: 10px) {
	.mpwpb_date_carousel {position: relative;}
	.mpwpb_date_carousel .owl-stage {display: -webkit-flex;display: flex;}
	.mpwpb_date_carousel .owl-carousel .owl-item {display: -webkit-flex;display: flex;}
	.mpwpb_date_time_line {width: 100%;padding: var(--default-mp-xs);border: 1px solid var(--border_color);text-align: center;}
	.mpwpb_date_time_line [data-radio-check] {width: 100%;margin: 0 0 var(--default-mp-xs) 0;-webkit-justify-content: center;}
	.mpwpb_date_time_line [data-radio-check]:last-child {margin: 0;}
}
/********************************************************************************************************************/
@media only screen and (min-width: 10px) {
}