:root {
  --mage-primary:#f12971;
  --mage-light:#F2F2F2;
  --mage-black: #000;
  --mage-white: #FFFFFF;
  --mage-border: #DDD;
}

div.registration_tab_item {
  -webkit-transition: all 350ms ease-in-out;
  -moz-transition: all 350ms ease-in-out;
  -o-transition: all 350ms ease-in-out;
  transition: all 350ms ease-in-out;
}

/******************************************************************** ************************************************/
.mpwpb_registration_short_code.mpwpb-static-template .sidebar{width: 100%;}
.mpwpb_registration_short_code.mpwpb-static-template .sidebar .mpwpb_static_area{width: 100%;position: relative;left: inherit;  bottom: inherit;}

.mpwpd_category_info_holder{
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.mpwpd_item_box_direction{
  flex-direction: column;
}
.mpwpd_category_min_price{
  padding: 8px 0px;
  color: var(--mpwpb_color_theme);
  font-weight:bold;
}
.mpwpd_category_data_pos{
  flex-direction: column;
}

.mpwpb_category_info{
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.mpwpd_category_info_holder .mpwpb_category_info h6{
  font-weight:700;
}
.mpwpd_bg_image_area{
  max-width: 50px;
  margin: 0 8px 0 0;
  width: 100%;
  overflow: hidden;
  position: relative;
  height: max-content;
}

.mpwpb_category_info_holder{
  display: flex;
  width: 100%;
  flex-direction: column;
}
.mpwpb_category_name_icon{
  display: flex;
  justify-content: flex-start;
}

.mpwpd_btn_proceed {
  display: block;
  width: calc(100% - 16px);
  margin: 0px 8px 0px;
  padding: 10px;
  background: #db4366;
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  /* transition: var(--transition); */
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  opacity: .5;
}
.mpwpb_service_button_remove,
.mpwpb_ex_service_button_remove{
  position: absolute;
  /*right: -10px;
  top: 50%;*/
  right: -54px;
  top: -10px;
  transform: translateY(-50%);
  background-color: #ff5252;
  color: white;
  border: none;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s, transform 0.3s;
}

.mpwpb_summary_item:hover .mpwpb_service_button_remove{
  opacity: 1;
}
.mpwpb_summary_item:hover .mpwpb_ex_service_button_remove{
  opacity: 1;
}

.mpwpb_recurring_order_display{
  display: flex;
  flex-direction: column;
  padding-top: 10px;
}
.mpwpb_recurring_order_text_number, .mpwpb_recurring_discount{
  display: flex;
  justify-content: space-between;
  padding-right: 40px;
}
.mpwpb_recurring_number_holder{
  display: flex;
  gap: 16px;
}
.mpwpd_service_date{
  list-style-type: none;
}
.mpwpd_service_date_selected{
  color: #990000;
}

.selection-header {
  padding-top: 5px;
  background-color: var(--light-bg);
  /*border-bottom: 1px solid rgba(0, 0, 0, 0.05);*/
  margin-bottom:20px;
}
.mpwpb_selected_control{
  display: flex;
  gap: 7px;
  flex-wrap: wrap;
  justify-content: left;
  color: #767373;
  font-size: 16px;
  padding: 5px 0;
  /*background:#fff;*/
  /*border:1px solid #ddd;*/
  border-radius:10px;
}

/*.addonGroupContent{
  border: 1px solid;
  padding: 8px;
  border-radius: 3px;
}*/

.mpwpb_text_icon_holder{
  display: flex;
  gap: 5px;
}
.mpwpb_selected_category{
  cursor: pointer;
  font-weight: 600;

}
.mpwpb_selected_category:hover{
  color: #333333;
}

.mpwpd_padding_bottom{
  padding-bottom: 10px;
}

@media only screen and (min-width: 10px) {
  div.mpwpb_registration .woocommerce-page span.woocommerce-input-wrapper,
  div.mpwpb_registration .woocommerce-page table span {
    display: initial;
  }
  div.mpwpb_registration .woocommerce-page label {
    margin: 0 0 var(--mpwpb_dmp_xs) 0;
  }
  div.mpwpb_registration table th,
  div.mpwpb_registration table td {
    border: none;
  }
  div.mpwpb_registration .woocommerce form .form-row {
    margin-bottom: var(--mpwpb_dmp_xs);
  }
  div.mpwpb_registration #customer_details {
    background-color: #F7F7F7;
    padding: var(--mpwpb_dmp_xs);
    margin: 0;
  }
  div.mpwpb_registration #order_review {
    background-color: #FFF;
    padding: 0 !important;
    margin: 0 !important;
    border: none !important;
  }
  div.mpwpb_registration .mpwpb_order_details_area {
    background-color: #FFF;
    padding: var(--mpwpb_dmp_xs) var(--mpwpb_dmp_xs) var(--mpwpb_dmp_xs) var(--mpwpb_dmp);
    margin: 0;
  }
  div.mpwpb_registration .woocommerce-page input[type=radio].shipping_method + label,
  div.mpwpb_registration .woocommerce-page input[type=radio][name=payment_method] + label {
    display: inline-block;
  }
  div.mpwpb_registration .woocommerce #payment #place_order,
  div.mpwpb_registration .woocommerce-page #payment #place_order {
    margin: var(--mpwpb_dmp_xs) 0;
  }

  div.mpwpb_registration .service-items{
    margin-top: 10px !important;
    border-radius: 10px ;
    background-color: #fff;
  }

}
/********************************************************************************************************************/
@media only screen and (min-width: 10px) {
  div.mpwpb_style div.mpwpb_registration {
    margin: 0 0 var(--mpwpb_dmpl) 0;
  }
  span.mpwpb_item_check {
    position: absolute;
    top: 7px;
    right: 10px;
    font-size: var(--mpwpb_fs_h6);
    opacity: 0;
    margin: 0;
  }
  /*************/
  /*************/
  div.registration_tab_item {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    border-radius: var(--mpwpb_dbr);
    cursor: pointer;
    font-size: var(--mpwpb_fs_h6);
    opacity: 0.7;
    padding: var(--mpwpb_dmp_xs);
  }
  div.registration_tab_item:hover,
  div.registration_tab_item.mpActive {
    opacity: 1;
    color: var(--mpwpb_color_theme);
    font-weight: var(--mpwpb_fw-bold);
  }
  div.registration_tab_item img {
    border: 1px solid var(--d_color);
    width: 25px !important;
    padding: 5px;
    margin: 0 10px 0 0;
    background-color: var(--d_color);
  }
  div.registration_tab_item:hover img,
  div.registration_tab_item.mpActive img {
    border-color: var(--mpwpb_color_theme);
    background-color: var(--mpwpb_color_theme);
  }
  div.mpwpb_sub_category_area,
  div.mpwpb_service_area,
  div.mpwpb_extra_service_area,
  div.mpwpb_date_time_area,
  div.next_service_area,
  div.next_date_area,
  div.mpwpb_order_proceed_area {
    display: none;
  }
  div.mpwpb_sub_category_area > div {
    padding: var(--mpwpb_dmp_xs);
    background-color: #FFF;
  }
  div.mpwpb_service_area header {
    background-color: transparent;
    /*border-bottom: 1px solid var(--mpwpb_color_theme);*/
    /*padding: var(--mpwpb_dmp_xs) 0;*/
    font-weight: normal;
    color: var(--mpwpb_color_theme);
  }
  div.mpwpb_extra_service_area h5 {
    background-color: transparent;
    border-bottom: 1px solid var(--mpwpb_color_theme);
    padding: var(--mpwpb_dmp_xs) 0;
    font-weight: normal;
    color: var(--mpwpb_color_theme);
  }
  div.next_service_area {
    background-color: #FFF;
  }
  div.mpwpb_date_time_area header {
    background-color: rgba(54, 85, 250, 0.06);
    padding: var(--mpwpb_dmp_xs);
    /*border-bottom: 1px solid var(--mpwpb_color_border);*/
  }
  div.mpwpb_item_box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: 20px 10px;
    margin: 10px 0;
    position: relative;
    background-color: var(--mpwpb_color_light_2);
    color: var(--d_color);
    border-radius: 5px;
    border: 1px solid var(--mpwpb_color_light_3);
  }
  .mpwpb_item_box.mpwpb_extra_service_item {
    display: block;
    border: 1px solid var(--mpwpb_color_light_2);
    background-color: #fff;
  }
  div.mpwpb_item_box h2 {
    font-weight: bold;
    font-size: 16px;
  }
  div.mpwpb_item_box i {
    color: var(--mpwpb_color_theme);
  }
  div.mpwpb_item_box.mpActive {
    border-color: var(--mpwpb_color_theme);
    background-color: var(--mpwpb_color_theme);
    color: var(--mpwpb_color_theme_alter);
  }
  div.mpwpb_item_box.mpActive span.mpwpb_item_check {
    opacity: 1;
    color: var(--mpwpb_color_theme);
    background-color: var(--mpwpb_color_theme_alter);
    position: relative;
    top: 0;
    right: 0;
    margin: 0;
  }
  div.mpwpb_item_box .bg_image_area {
    max-width: 50px;
    margin: 0 15px 0 0;
  }
  div.mpwpb_service_area div.mpwpb_item_box {
    background-color: transparent;
  }
  div.mpwpb_service_area div.mpwpb_service_item {
    padding: var(--mpwpb_dmp_xs);
    margin: var(--mpwpb_dmp_xs) 0;
    position: relative;
    border: 1px solid var(--mpwpb_color_light_2);
  }
  div.mpwpb_service_area div.mpwpb_service_item .mpwpb_service_button {
    color: var(--mpwpb_color_theme);
    border: 1px solid var(--mpwpb_color_theme);
    background-color: #fff;
    min-width: 100px;
    width: 100px;
  }
  div.mpwpb_service_area div.mpwpb_service_item .mpwpb_service_button.mActive {
    background-color: var(--mpwpb_color_theme);
    color: #fff;
  }
  div.mpwpb_service_area div.mpwpb_service_item .mpwpb_service_button:hover {
    background-color: var(--mpwpb_color_theme);
    color: var(--mpwpb_color_theme_alter);
  }
  div.mpwpb_service_area div.mpwpb_service_item .mpwpb_service_button:focus {
    background-color: var(--mpwpb_color_theme);
    color: var(--mpwpb_color_theme_alter);
  }
  div.mpwpb_service_area div.mpwpb_service_item [data-collapse] {
    margin-top: 5px;
    color: #666;
  }
  .mpwpb_extra_service_item .service-details {
    margin-top: 5px;
    color: #666;
  }
  /*************/
  div.service_img_area {
    max-width: 120px;
    margin: 0 15px 0 0;
    width: 100%;
  }
  div.mpwpb_icon_area {
    font-size: 60px;
    padding: var(--mpwpb_dmp);
  }
  /*************/
  div.mpwpb_extra_service_area div.mpwpb_item_box {
    padding: var(--mpwpb_dmp_xs);
    margin: var(--mpwpb_dmp_xs) 0;
    position: relative;
    border: 1px solid var(--mpwpb_color_light_2);
    border-radius: 0;
  }
  div.mpwpb_extra_service_area div.mpwpb_item_box .mpwpb_price_calculation {
    color: var(--mpwpb_color_theme);
    border: 1px solid var(--mpwpb_color_theme);
    background-color: #fff;
    min-width: 100px;
    width: 100px;
  }
  div.mpwpb_extra_service_area div.mpwpb_item_box .mpwpb_price_calculation.mActive {
    background-color: var(--mpwpb_color_theme);
    color: #fff;
  }
  div.mpwpb_extra_service_area div.mpwpb_item_box .mpwpb_price_calculation:hover {
    background-color: var(--mpwpb_color_theme);
    color: var(--mpwpb_color_theme_alter);
  }
  div.mpwpb_extra_service_area div.mpwpb_item_box .mpwpb_price_calculation:focus {
    background-color: var(--mpwpb_color_theme);
    color: var(--mpwpb_color_theme_alter);
  }
  /*************/
  div.mpwpb_summary_area_left {
    display: none;
  }
  div.mpwpb_summary_area_left .mpwpb_summary_area_left_title {
    background-color: var(--mpwpb_color_theme);
    color: var(--mpwpb_color_theme_alter);
    padding: var(--mpwpb_dmp_xs);
    text-align: center;
  }
  div.mpwpb_summary_area_left_content {
    border: 1px solid var(--mpwpb_color_border);
    padding: var(--mpwpb_dmp_xs) 20px;
    padding-right: 5px;
    background-color: #FFF;
    overflow: auto;
  }
  div.mpwpb_summary_item {
    position: relative;
    /*padding: 0 5px 15px 25px;*/
    display: none;
    /*border-left: 1px solid var(--mpwpb_color_theme);*/
    padding: 0 5px 30px 24px;
  }
  div.mpwpb_summary_item span.mpwpb_item_check {
    opacity: 1;
    right: inherit;
    left: -14px;
    font-size: var(--mpwpb_fs_small);
    top: -2px;
    border: 1px solid var(--mpwpb_color_theme);
    background-color: #fff;
    color: var(--mpwpb_color_theme);
  }
  div.mpwpb_summary_item:last-child {
    border-color: transparent;
    display: block;
  }
  /*************/
  div.mpwpb_date_carousel .owl-dots {
    display: none;
  }
}
/********************************************************************************************************************/
/********************************************************************************************************************/
@media only screen and (min-width: 10px) {
  div.mpwpb_static_theme div.mpwpb_summary_area_left {
    width: 400px;
    border-left: 2px solid var(--mpwpb_color_border);
  }
  div.mpwpb_static_theme div.mpwpb_static_service {
    width: calc(100% - 400px);
  }
  div.mpwpb_static_theme div.mpwpb_summary_area_left_content {
    border: none;
    position: absolute;
  }
  div.mpwpb_static_theme div.mpwpb_popup_body {
    padding: 0;
    margin: 0;
  }
}
/********************************************************************************************************************/
@media only screen and (min-width: 10px) {
  .mpwpb_date_carousel {
    position: relative;
  }
  .mpwpb_date_carousel .mpwpb-owl-carousel {
    overflow: hidden;
  }
  .mpwpb_date_carousel .mpwpb-owl-carousel .owl-stage {
    display: -webkit-flex;
    display: flex;
    gap: 5px;
    margin-top: 5px;
  }
  .mpwpb_date_carousel .mpwpb-owl-carousel .owl-item {
    display: -webkit-flex;
    display: flex;
  }
  .mpwpb_date_time_line {
    width: 100%;
    text-align: center;
  }
  .mpwpb_date_time_line [data-radio-check] {
    width: 100%;
    margin: 0 0 5px 0;
    -webkit-justify-content: center;
  }
  .mpwpb_date_time_line [data-radio-check]:last-child {
    margin: 0;
  }
  .mpwpb_date_time_line p {
    color: #D0D0D0;
  }
}
.mpwpb_style .mainSection {
  width: 100%;
  max-width: var(--mpwpb_main_section);
  margin: 0 var(--mpwpb_dmp) 0 0;
}

/*************************************************Responsive*******************************************************************/
@media only screen and (max-width: 900px) {
  div.mpwpb_item_box {
    width: 100%;
  }
}
@media only screen and (max-width: 800px) {
  div.mpwpb_registration div.leftSidebar,
  div.mpwpb_registration div.leftSidebar .mpwpb_sticky_area,
  div.mpwpb_registration div.mainSection {
    max-width: 100%;
    width: 100%;
    margin: var(--mpwpb_dmp_xs) 0;
  }
  div.mpwpb_summary_area_left .mpwpb_summary_area_left_title {
    text-align: left;
  }
  div.mpwpb_registration div.mpwpb_item_box h4 {
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
  }
}
@media (max-width: 600px) {
  .next_date_area {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .next_date_area .mpwpb-total {
    padding: 20px 0;
  }
}
.mpwpb-default-template .main {
  width: 100%;
}
@media (min-width: 1024px) {
  .mpwpb-default-template .main {
    width: 60%;
  }
}
.mpwpb-default-template .sidebar {
  width: 100%;
}
@media (min-width: 1024px) {
  .mpwpb-default-template .sidebar {
    width: 40%;
    top: 100px;
    height: auto;
    overflow-y: auto;
    position: -webkit-sticky;
    position: sticky;
    height: calc(100vh - 100px);
  }
}
.mpwpb-default-template .sidebar [class*=_mpBtn] {
  padding: 10px;
}
.mpwpb-default-template .sidebar .booking-area {
  background-color: #f4f5f8;
}
.mpwpb-default-template .sidebar .content {
  display: flex;
  overflow: auto;
  flex-direction: column;
}
.mpwpb-default-template .sidebar  {
  width: 100%;
  padding: 10px;
}
.mpwpb-default-template   .mpwpb_category_section {
  margin-bottom: 5px;
}
.mpwpb-default-template   .mpwpb_category_section .mpwpb_item_box {
  margin: 0;
  padding: 10px;
  background-color: #fff;
  align-items: center;
  color: var(--mpwpb_color_theme);
  border: 1px solid var(--mpwpb_color_theme_77);
}
.mpwpb-default-template   .mpwpb_category_section .mpwpb_category_item.mpActive {
  background-color: var(--mpwpb_color_theme);
  color: var(--mpwpb_color_theme_alter);
}
.mpwpb-default-template   .mpwpb_category_section .mpwpb_category_item.mpActive h6 {
  font-weight: 700;
  color: var(--mpwpb_color_theme_alter);
}
.mpwpb-default-template   .mpwpb_category_section .mpwpb_category_item.mpActive .mpwpb_item_check {
  position: relative;
  right: 0;
  top: 0;
  background-color: var(--mpwpb_color_theme_alter);
  color: var(--mpwpb_color_theme);
  margin: 0;
}
.mpwpb-default-template   .mpwpb_category_section .mpwpb_sub_category_area {
  /*padding-left: 20px;*/
}
.mpwpb-default-template   .mpwpb_category_section .mpwpb_sub_category_area .mpwpb_sub_category_item {
  background-color: var(--mpwpb_color_theme_alter);
  padding: 5px;
  margin: 5px;
}
.mpwpb-default-template   .mpwpb_category_section .mpwpb_sub_category_area .mpwpb_sub_category_item.mpActive {
  background-color: var(--mpwpb_color_theme_77);
}
.mpwpb-default-template   .mpwpb_service_area {
  /*margin-top: 20px;*/
}
.mpwpb-default-template   .mpwpb_service_area header {
  background-color: transparent;
  /*border-bottom: 1px solid var(--mpwpb_color_theme);*/
  /*padding: 10px 0;*/
}
.mpwpb-default-template   .mpwpb_service_area header h5 {
  /*font-size: 16px;*/
  color: var(--mpwpb_color_theme);
  /*font-weight: 700;*/
}
.mpwpb-default-template    .mpwpb_service_item {
  background-color: #fff;
  border: 1px solid var(--mpwpb_color_light_2);
  border-radius: 3px;
}
.mpwpb-default-template    .mpwpb_service_item [data-collapse] {
  margin-top: 15px;
  color: #999;
}
.mpwpb-default-template    .mpwpb_service_item .mpwpb_service_button {
  color: var(--mpwpb_color_theme);
  border: 1px solid var(--mpwpb_color_theme);
  background-color: #fff;
  min-width: 100px;
}
.mpwpb-default-template    .mpwpb_service_item .mpwpb_service_button:hover {
  background-color: var(--mpwpb_color_theme);
  color: var(--mpwpb_color_theme_alter);
}
.mpwpb-default-template    .mpwpb_service_item .mpwpb_service_button:focus {
  background-color: var(--mpwpb_color_theme);
  color: var(--mpwpb_color_theme_alter);
}
.mpwpb-default-template    .mpwpb_service_item .mpwpb_service_button.mActive {
  background-color: var(--mpwpb_color_theme);
  color: var(--mpwpb_color_theme_alter);
  min-width: 100px;
  width: 100px;
}
.mpwpb-default-template   .mpwpb_extra_service_area h5 {
  background-color: transparent;
  font-size: 16px;
  color: var(--mpwpb_color_theme);
  font-weight: 700;
  padding: 10px 0;
  border-bottom: 1px solid var(--mpwpb_color_theme);
}
.mpwpb-default-template   .mpwpb_extra_service_area .mpwpb_item_box {
  background-color: #fff;
  border-radius: 0;
}
.mpwpb-default-template   .mpwpb_extra_service_area .mpwpb_extra_service_item {
  display: block;
}
.mpwpb-default-template   .mpwpb_extra_service_area .mpwpb_extra_service_item .service-details {
  color: #999;
  padding: 10px 0;
}
.mpwpb-default-template   .mpwpb_extra_service_area .mpwpb_extra_service_item .mpwpb_price_calculation {
  min-width: 100px;
  width: 100px;
  border: 1px solid var(--mpwpb_color_theme);
  color: var(--mpwpb_color_theme);
  background-color: var(--mpwpb_color_theme_alter);
}
.mpwpb-default-template   .mpwpb_extra_service_area .mpwpb_extra_service_item .mpwpb_price_calculation:hover {
  background-color: var(--mpwpb_color_theme);
  color: var(--mpwpb_color_theme_alter);
}
.mpwpb-default-template   .mpwpb_extra_service_area .mpwpb_extra_service_item .mpwpb_price_calculation:focus {
  background-color: var(--mpwpb_color_theme);
  color: var(--mpwpb_color_theme_alter);
}
.mpwpb-default-template   .mpwpb_extra_service_area .mpwpb_extra_service_item .mpwpb_price_calculation.mActive {
  background-color: var(--mpwpb_color_theme);
  color: var(--mpwpb_color_theme_alter);
}
@media (max-width: 1024px) {
  .mpwpb-default-template   .mpwpb_extra_service_area .mpwpb_extra_service_item .quantity-box {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 5px;
  }
}
.mpwpb-default-template   .mpwpb_date_carousel header {
  background-color: transparent;
  padding: 10px 0;
}
.mpwpb-default-template   .mpwpb_date_carousel header h3 {
  font-size: 16px;
  color: var(--mpwpb_color_theme);
  font-weight: 700;
}
.mpwpb-default-template   .mpwpb_date_carousel .carousel_area {
  color: var(--mpwpb_color_theme);
}
.mpwpb-default-template   .mpwpb_date_carousel .carousel_area button {
  border-radius: 0;
}
.mpwpb-default-template   .mpwpb_date_carousel .mpwpb_date_time_line .to-book {
  font-size: 14px;
}
.mpwpb-default-template   .mpwpb_date_carousel .mpwpb_date_time_line .to-book.mpActive {
  background-color: var(--mpwpb_color_theme);
  color: #fff;
}
.mpwpb-default-template   .mpwpb_date_carousel .mpwpb_date_time_line ._mpBtn {
  border-radius: 0;
  margin-bottom: 2px;
}
.mpwpb-default-template   .mpwpb_date_carousel .mpwpb_date_time_line .booked {
  font-size: 14px;
  background-color: var(--mpwpb_color_theme_aa);
}
.mpwpb-default-template   #customer_details {
  margin-bottom: 20px;
}
.mpwpb-default-template   #customer_details .col-1 {
  width: 100%;
}
.mpwpb-default-template   #customer_details h3 {
  background-color: transparent;
  font-size: 16px !important;
  color: var(--mpwpb_color_theme);
  font-weight: 700;
  padding: 10px 0;
  border-bottom: 1px solid var(--mpwpb_color_theme);
}
.mpwpb-default-template   #customer_details label {
  font-size: 14px;
  color: #333;
}
.mpwpb-default-template   #customer_details input.input-text {
  border-color: #d3d3d3;
}
.mpwpb-default-template   #order_review_heading {
  font-size: 16px !important;
  margin-bottom: 10px;
  color: var(--mpwpb_color_theme);
}
.mpwpb-default-template   #order_review #payment {
  background-color: #fff;
}
.mpwpb-default-template   #order_review #payment label {
  font-size: 14px;
  color: #333;
}
.mpwpb-default-template   #order_review #payment .payment_box {
  background-color: #d3d3d3;
}
.mpwpb-default-template   #order_review #payment .payment_box::before {
  border: 1em solid #d3d3d3;
  border-right-color: transparent;
  border-left-color: transparent;
  border-top-color: transparent;
}
.mpwpb-default-template   #order_review #payment #place_order {
  background-color: var(--mpwpb_color_theme);
  border: 1px solid var(--mpwpb_color_theme);
}
.mpwpb-default-template  .content .service-cart {
  width: auto;
  overflow-y: scroll;
  padding: 10px;
  background-color: #f4f5f8;
}
.mpwpb-default-template  .content .service-cart .mpwpb_summary_area_left_content {
  background-color: transparent;
  position: relative;
}
.mpwpb-default-template  .content .service-cart .mpwpb_summary_area_left_content .mpwpb_summary_item {
  /*border-left: 1px solid var(--mpwpb_color_theme);*/
  padding: 0 5px 15px 24px;
}
.mpwpb-default-template  .content .service-cart .mpwpb_summary_area_left_content .mpwpb_summary_item .mpwpb_item_check {
  border: 1px solid var(--mpwpb_color_theme);
  background-color: #fff;
  color: var(--mpwpb_color_theme);
}
.mpwpb-default-template  .content .service-cart .mpwpb_summary_area_left_content .mpwpb_summary_item:last-child {
  padding-bottom: 0;
}
.mpwpb-default-template  .footer {
  padding: 10px;
}
.mpwpb-default-template  .footer .next_service_area {
  background-color: transparent;
}
.mpwpb-default-template  .footer .next_date_area div:nth-child(1) {
  display: flex;
  flex-direction: column;
}
.mpwpb-default-template  .footer .next_date_area div:nth-child(1) h4 {
  margin: 10px auto;
  order: 0;
}
.mpwpb-default-template  .footer .next_date_area div:nth-child(1) button {
  order: 1;
  margin: 5px;
}
.mpwpb-default-template  .footer .next_date_area .mpwpb-total {
  padding: 0;
}

.mpwpb_registration > header {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
  display: flex;
  min-height: 200px;
}
.mpwpb_registration > header::before {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  content: "";
  background: #00000092;
  height: 100%;
  position: absolute;
  z-index: 0;
}
.mpwpb_registration > header .template-header {
  width: 100%;
  max-width: 1160px;
  margin: auto;
  padding: 10px;
}
.mpwpb_registration > header .template-header .header-content {
  z-index: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
.mpwpb_registration > header  h2 {
  margin: 10px 0;
}
.mpwpb_registration > header .view_more{
  color: #fff;
  margin-top: 20px;
}
.mpwpb_registration > header  h2, .mpwpb_registration > header  p {
  color: #fff;
}
.mpwpb_registration > header  ul.features {
  margin: 30px 0;
  padding: 0;
  list-style-type: none;
}
.mpwpb_registration > header  ul.features li {
  margin: 10px 0;
  color: #fff;
  font-size: 18px;
}
.mpwpb_registration > header  ul.features li i {
  margin-right: 10px;
  color: var(--mpwpb_color_theme);
}
.mpwpb_registration > header  .popup-features .mpwpb_popup_main_area {
  background-color: #FFF;
  border: 2px solid #fff;
}
.mpwpb_registration > header  .popup-features  .mpwpb_popup_header {
  border-bottom: 1px solid var(--mpwpb_color_border);
}
.mpwpb_registration > header  .popup-features  .mpwpb_popup_header .mpwpb_popup_close {
  position: absolute;
  top: 0;
  right: 0;
  width: 35px;
  height: 35px;
  background-color: transparent;
  color: var(--mpwpb_color_border);
}
.mpwpb_registration .ratings {
  background-color: var(--mpwpb_color_theme);
  margin: 10px 0;
  padding: 5px 10px;
  border-radius: 5px;
  color: var(--mpwpb_color_theme_alter);
  font-size: 16px;
  font-weight: bold;
  display: inline-block;
}
.mpwpb_registration .ratings span {
  font: 12px;
  font-weight: normal;
}
.mpwpb_registration nav {
  margin-bottom: 20px;
}
.mpwpb_registration nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}
.mpwpb_registration nav ul li {
  margin: 5px 15px;
  background-color: #fff;
  color: #333;
  border-radius: 20px;
  font-size: 16px;
  border: 1px solid #333;
}
.mpwpb_registration nav ul li:first-child {
  margin-left: 0;
}
.mpwpb_registration nav ul li a {
  display: block;
  text-decoration: none;
  height: 100%;
  width: 100%;
  padding: 10px;
  color: #333 !important;
}
.mpwpb_registration nav ul li a:hover {
  color: var(--mpwpb_color_theme);
}
.mpwpb_registration section {
  margin: 30px 0;
}
.mpwpb_registration section h2 {
  margin: 20px 0;
  border-bottom: 1px solid #ededed;
  color: var(--mpwpb_color_theme);
}
.mpwpb_registration section dd, .mpwpb_registration section dl, .mpwpb_registration section dt, .mpwpb_registration section li, .mpwpb_registration section ol, .mpwpb_registration section ul {
  margin: 10px;
  padding: 0;
}
.mpwpb_registration section ul, .mpwpb_registration section ol {
  padding-left: 20px;
  list-style-position: inside;
  list-style-type: disc;
}
.mpwpb_registration section li {
  margin: 5px 0;
}
.mpwpb_registration section ol {
  list-style-type: decimal;
}
.mpwpb_registration section ol::marker {
  background-color: var(--mpwpb_color_theme);
}
.mpwpb_registration section dl {
  margin-bottom: 15px;
}
.mpwpb_registration section dt {
  font-weight: bold;
}
.mpwpb_registration section dd {
  margin-left: 20px;
}
.mpwpb_registration .mpwpb-serivice-faq .faq-header {
  font-weight: bold;
  margin-top: 10px;
  cursor: pointer;
}
.mpwpb_registration .mpwpb-serivice-faq .faq-header i {
  margin: 0 10px;
  color: var(--mpwpb_color_theme);
}
.mpwpb_registration .mpwpb-serivice-faq .faq-content {
  display: none;
  padding: 10px 40px;
}
.mpwpb_registration main {
  max-width: 1160px;
  width: 100%;
  margin: auto;
  padding: 10px;
  flex-direction: column;
  display: flex;
}
@media (min-width: 1024px) {
  .mpwpb_registration main {
    flex-direction: row;
    justify-content: space-between;
    gap: 25px;
  }
}

.mpwpb-static-template .main {
  width: 100%;
}
@media (min-width: 1024px) {
  .mpwpb-static-template .main {
    width: 80%;
  }
}
.mpwpb-static-template .sidebar {
  width: 100%;
  padding-bottom: 300px;
}
@media (min-width: 1024px) {
  .mpwpb-static-template .sidebar {
    width: 20%;
  }
}
.mpwpb-static-template .sidebar [class*=_mpBtn] {
  padding: 10px;
}
.mpwpb-static-template .sidebar  .mpwpb_popup {
  background-color: rgba(0, 0, 0, 0.5803921569);
}
.mpwpb-static-template   .mpwpb_popup .mpwpb_popup_main_area {
  border: 0;
  box-shadow: 0 0 1px #000;
  border-radius: 5px;
  width: 100%;
  max-width: auto;
  min-width: 300px;
  max-width: 400px;
  max-height:90vh;
}
@media (min-width: 1024px) {
  .mpwpb-static-template   .mpwpb_popup .mpwpb_popup_main_area {
    width: 980px;
    max-width: 1024px;
  }
}
.mpwpb-static-template   .mpwpb_popup  .mpwpb_popup_header {
  padding: 16px 16px 10px;
  color: #333;
  border-radius: 5px 5px 0 0;
  border: 0;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
}
.mpwpb-static-template   .mpwpb_popup  .mpwpb_popup_header .mpwpb_popup_close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0;
  background: transparent;
  color: var(--mpwpb_color_d);
  width: 35px;
  height: 35px;
}
.mpwpb-static-template   .mpwpb_popup  .mpwpb_popup_body {
  overflow: auto;
  min-height: 40vh;
  height: auto;
}
.mpwpb-static-template   .mpwpb_popup  .mpwpb_popup_body .mpwpb-popup-content {
  display: flex;
  overflow: auto;
  flex-direction: column;
}
@media (min-width: 1024px) {
  .mpwpb-static-template   .mpwpb_popup  .mpwpb_popup_body .mpwpb-popup-content {
    flex-direction: row;
  }
}
.mpwpb-static-template   .mpwpb_popup   .service-items {
  width: 100%;
  padding: 10px;
}
@media (min-width: 1024px) {
  .mpwpb-static-template   .mpwpb_popup   .service-items {
    width: 60%;
  }
}
.mpwpb-static-template   .mpwpb_popup   .service-items .mpwpb_category_section .mpwpb_item_box {
  margin: 0;
  padding: 20px;
  background-color: #f4f5f8;
  margin: 10px 0;
  align-items: center;
  border: 2px solid #e2e8f0;
  border-radius:16px;
}
.mpwpb_selected_category_text.mpwpb_category_selected_item.mpActive.mpwpb_selected_category {
    font-weight: bold;
}
.mpwpb_selected_category{font-weight:normal; }

.mpwpb-static-template   .mpwpb_popup   .service-items .mpwpb_category_section .mpwpb_item_box:hover {
  border: 2px solid var(--mpwpb_color_theme); 
  transform: translateY(-2px);
  box-shadow: 0 8px 25px rgba(102, 126, 234, 0.15);
}

.mpwpb-static-template   .mpwpb_popup   .service-items .mpwpb_category_section .mpActive {
  border: 2px solid var(--mpwpb_color_theme);
}
.mpwpb-static-template   .mpwpb_popup   .service-items .mpwpb_category_section .mpActive h6 {
  font-weight: 700;
}
.mpwpb-static-template   .mpwpb_popup   .service-items .mpwpb_category_section .mpActive .mpwpb_item_check {
  position: relative;
  right: 0;
  top: 0;
  background-color: var(--mpwpb_color_theme_alter);
  color: var(--mpwpb_color_theme);
  margin: 0;
  border:1px solid;
}
.mpwpb-static-template   .mpwpb_popup   .service-items .mpwpb_category_section .mpwpb_sub_category_area {
  margin-left:0px;
}
.mpwpb-static-template   .mpwpb_popup   .service-items .mpwpb_category_section .mpwpb_sub_category_area .mpwpb_sub_category_item {
  background-color: #f4f5f8;
  padding: 20px;
  border: 1px solid #d3d3d3;
}
.mpwpb-static-template   .mpwpb_popup   .service-items .mpwpb_category_section .mpwpb_sub_category_area .mpwpb_sub_category_item.mpActive {

}

.mpwpb-static-template   .mpwpb_popup   .service-items .mpwpb_service_area header {
  background-color: transparent;
  /*border-bottom: 1px solid var(--mpwpb_color_theme);*/
  /*padding: 10px 0;*/
}
.mpwpb-static-template   .mpwpb_popup  .mpwpb_popup_body  .mpwpb_category_area header h5,
.mpwpb-static-template   .mpwpb_popup   .service-items .mpwpb_service_area header h5 {
  font-size: 16px;
  color: var(--mpwpb_color_theme);
  font-weight: 700;
}
.mpwpb-static-template   .mpwpb_popup   .service-items .mpwpb_service_area .mpwpb_service_item {
  background-color: #f4f5f8;
  border: 2px solid #e2e8f0;
}
.mpwpb-static-template   .mpwpb_popup   .service-items .mpwpb_service_area .mpwpb_service_item [data-collapse] {
  margin-top: 15px;
  color: #999;
}
.mpwpb-static-template   .mpwpb_popup   .service-items .mpwpb_service_area .mpwpb_service_item .mpwpb_service_button {
  color: var(--mpwpb_color_theme);
  /*border: 1px solid var(--mpwpb_color_theme);*/
  background-color: #fff;
  min-width: 100px;
}
.mpwpb-static-template   .mpwpb_popup   .service-items .mpwpb_service_area .mpwpb_service_item .mpwpb_service_button:hover {
  background-color: var(--mpwpb_color_theme);
  color: var(--mpwpb_color_theme_alter);
}
.mpwpb-static-template   .mpwpb_popup   .service-items .mpwpb_service_area .mpwpb_service_item .mpwpb_service_button:focus {
  background-color: var(--mpwpb_color_theme);
  color: var(--mpwpb_color_theme_alter);
}
.mpwpb-static-template   .mpwpb_popup   .service-items .mpwpb_service_area .mpwpb_service_item .mpwpb_service_button.mActive {
  background-color: var(--mpwpb_color_theme);
  color: var(--mpwpb_color_theme_alter);
  min-width: 100px;
  width: 100px;
}
.mpwpb-static-template   .mpwpb_popup   .service-items .mpwpb_extra_service_area h5 {
  background-color: transparent;
  font-size: 16px;
  color: var(--mpwpb_color_theme);
  font-weight: 700;
  padding: 10px 0;
  border-bottom: 1px solid var(--mpwpb_color_theme);
}
.mpwpb-static-template   .mpwpb_popup   .service-items .mpwpb_extra_service_area .mpwpb_item_box {
  background-color: #f4f5f8;
  border-radius: 0;
}
.mpwpb-static-template   .mpwpb_popup   .service-items .mpwpb_extra_service_area .mpwpb_extra_service_item {
  display: block;
  border: 2px solid #e2e8f0;
  border-radius: 10px;
}
.mpwpb-static-template   .mpwpb_popup   .service-items .mpwpb_extra_service_area .mpwpb_extra_service_item .service-details {
  color: #999;
  padding: 10px 0;
}
.mpwpb-static-template   .mpwpb_popup   .service-items .mpwpb_extra_service_area .mpwpb_extra_service_item .mpwpb_price_calculation {
  min-width: 100px;
  width: 100px;
  border: 1px solid var(--mpwpb_color_theme);
  color: var(--mpwpb_color_theme);
  background-color: var(--mpwpb_color_theme_alter);
}
.mpwpb-static-template   .mpwpb_popup   .service-items .mpwpb_extra_service_area .mpwpb_extra_service_item .mpwpb_price_calculation:hover {
  background-color: var(--mpwpb_color_theme);
  color: var(--mpwpb_color_theme_alter);
}
.mpwpb-static-template   .mpwpb_popup   .service-items .mpwpb_extra_service_area .mpwpb_extra_service_item .mpwpb_price_calculation:focus {
  background-color: var(--mpwpb_color_theme);
  color: var(--mpwpb_color_theme_alter);
}
.mpwpb-static-template   .mpwpb_popup   .service-items .mpwpb_extra_service_area .mpwpb_extra_service_item .mpwpb_price_calculation.mActive {
  background-color: var(--mpwpb_color_theme);
  color: var(--mpwpb_color_theme_alter);
}
@media (max-width: 1024px) {
  .mpwpb-static-template   .mpwpb_popup   .service-items .mpwpb_extra_service_area .mpwpb_extra_service_item .quantity-box {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 5px;
  }
}
.mpwpb-static-template   .mpwpb_popup   .service-items .mpwpb_date_carousel header {
  background-color: transparent;
  padding: 10px 0;
}
.mpwpb-static-template   .mpwpb_popup   .service-items .mpwpb_date_carousel header h3 {
  font-size: 16px;
  color: var(--mpwpb_color_theme);
  font-weight: 700;
}
.mpwpb-static-template   .mpwpb_popup   .service-items .mpwpb_date_carousel .carousel_area {
  color: var(--mpwpb_color_theme);
}
.mpwpb-static-template   .mpwpb_popup   .service-items .mpwpb_date_carousel .carousel_area button {
  border-radius: 0;
}
.mpwpb-static-template   .mpwpb_popup   .service-items .mpwpb_date_carousel .mpwpb_date_time_line .to-book {
  font-size: 14px;
}
.mpwpb-static-template   .mpwpb_popup   .service-items .mpwpb_date_carousel .mpwpb_date_time_line .to-book.mpActive {
  background-color: var(--mpwpb_color_theme);
  color: #fff;
}
.mpwpb-static-template   .mpwpb_popup   .service-items .mpwpb_date_carousel .mpwpb_date_time_line ._mpBtn {
  border-radius: 0;
  margin-bottom: 2px;
}
.mpwpb-static-template   .mpwpb_popup   .service-items .mpwpb_date_carousel .mpwpb_date_time_line .booked {
  font-size: 14px;
  background-color: var(--mpwpb_color_theme_aa);
}
.mpwpb-static-template   .mpwpb_popup   .service-items #customer_details {
  margin-bottom: 20px;
}
.mpwpb-static-template   .mpwpb_popup   .service-items #customer_details .col-1 {
  width: 100%;
}
.mpwpb-static-template   .mpwpb_popup   .service-items #customer_details h3 {
  background-color: transparent;
  font-size: 16px !important;
  color: var(--mpwpb_color_theme);
  font-weight: 700;
  padding: 10px 0;
  border-bottom: 1px solid var(--mpwpb_color_theme);
}
.mpwpb-static-template   .mpwpb_popup   .service-items #customer_details label {
  font-size: 14px;
  color: #333;
}
.mpwpb-static-template   .mpwpb_popup   .service-items #customer_details input.input-text {
  border-color: #d3d3d3;
}
.mpwpb-static-template   .mpwpb_popup   .service-items #order_review_heading {
  font-size: 16px !important;
  margin-bottom: 10px;
  color: var(--mpwpb_color_theme);
}
.mpwpb-static-template   .mpwpb_popup   .service-items #order_review #payment {
  background-color: #f4f5f8;
}
.mpwpb-static-template   .mpwpb_popup   .service-items #order_review #payment label {
  font-size: 14px;
  color: #333;
}
.mpwpb-static-template   .mpwpb_popup   .service-items #order_review #payment .payment_box {
  background-color: #d3d3d3;
}
.mpwpb-static-template   .mpwpb_popup   .service-items #order_review #payment .payment_box::before {
  border: 1em solid #d3d3d3;
  border-right-color: transparent;
  border-left-color: transparent;
  border-top-color: transparent;
}
.mpwpb-static-template   .service-items #place_order {
  background-color: var(--mpwpb_color_theme);
  border: 1px solid var(--mpwpb_color_theme);
}
.mpwpb-static-template  .service-cart {
  width: auto;
  overflow-y: scroll;
  padding: 10px;
  margin: 10px;
  /*border: 2px solid #d3d3d3;*/
  border-radius: 10px;
  background-color: #f4f5f8;
}
@media (min-width: 1024px) {
  .mpwpb-static-template   .mpwpb_popup   .service-cart {
    width: 40%;
  }
}
.mpwpb-static-template   .mpwpb_popup   .service-cart .mpwpb_summary_area_left_content {
  background-color: transparent;
  position: relative;
}
.mpwpb-static-template   .mpwpb_popup   .service-cart .mpwpb_summary_area_left_content .mpwpb_summary_item {
  /*border-left: 1px solid var(--mpwpb_color_theme);*/
  padding: 0 5px 15px 24px;
}
.mpwpb-static-template   .mpwpb_popup   .service-cart .mpwpb_summary_area_left_content .mpwpb_summary_item:last-child {
  border-left: 0;
}
.mpwpb-static-template   .mpwpb_popup   .service-cart .mpwpb_summary_area_left_content .mpwpb_summary_item .mpwpb_item_check {
  /*border: 1px solid var(--mpwpb_color_theme);*/
  background-color: #fff;
  color: var(--mpwpb_color_theme);
}
.mpwpb-static-template   .mpwpb_popup .mpwpb_popup_close {
  background-color: var(--mpwpb_color_theme);
  color: #FFF;
}
.mpwpb-static-template   .mpwpb_popup .popupFooter {
  border-top: 0;
  padding: 10px;
  box-shadow: 2px 0px 5px 0 rgba(0, 0, 0, 0.1);
}
@media (max-width: 1024px) {
  .mpwpb-static-template   .mpwpb_popup .popupFooter .next_date_area div:nth-child(1) {
    display: flex;
    flex-direction: column;
  }
  .mpwpb-static-template   .mpwpb_popup .popupFooter .next_date_area div:nth-child(1) h4 {
    margin: 10px auto;
    order: 0;
  }
  .mpwpb-static-template   .mpwpb_popup .popupFooter .next_date_area div:nth-child(1) button {
    order: 1;
    margin: 5px;
  }
  .mpwpb-static-template   .mpwpb_popup .popupFooter .next_date_area .mpwpb-total {
    padding: 0;
  }
}
.mpwpb-static-template   .mpwpb_popup .popupFooter button.mpwpb_date_time_next {
  padding: 10px;
}
.mpwpb_static_area {
  width: auto;
  background: #fff;
  z-index: 10;
}

.mpwpb-static-template .sidebar .mpwpb_static_area.fixed {
  position: fixed;
  top:50px;
  z-index: 10;
}


.mpwpb-static-template  .mpwpb_static_area .mpwpb_static {
  display: block;
  background-color: var(--mpwpb_color_theme);
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 5px #333;
  margin: 10px;
}

.mpwpb-static-template  .mpwpb_static_area .mpwpb_static .mpwpb_static_registration_popup_close{
  display: none;
  justify-content: end;
  position: absolute;
  right: 22px;
  color: #333333;
  font-size: 20px;
  top: 18px;
  cursor: pointer;
  font-weight: 600;
}

.mpwpb-static-template  .mpwpb_static_area .mpwpb_mobile_booking{
  display: none;
  background-color: var(--mpwpb_color_theme);
  padding: 20px 30px;
  border: 2px solid var(--mpwpb_color_theme_alter);
  border-radius: 10px;
  box-shadow: 0 0 5px #333;
  margin: 10px;
  font-size: 25px;
  color: #f6f6f6;
  cursor: pointer;
  text-align: center;
}

@media (max-width: 600px) {
  .mpwpb-static-template  .mpwpb_static_area #mpwpb_mobile_booking_mobile{
    display: block;
  }

  .mpwpb-static-template  .mpwpb_static_area #mpwpb_make_static_booking {
    display: none;
  }
  .mpwpb-static-template  .mpwpb_static_area .mpwpb_static .mpwpb_static_registration_popup_close{
    display: flex;
  }
}

@media (min-width: 1024px) {
  .mpwpb-static-template  .mpwpb_static_area .mpwpb_static {
    margin: 0;
  }
}
.mpwpb-static-template  .mpwpb_static_area .mpwpb_static .mpwpb_static_cateogry {
  max-height: 80vh;
  overflow-y: auto;
}
.mpwpb-static-template  .mpwpb_static_area .mpwpb_static .mp_title {
  margin-bottom: 20px;
}
.mpwpb-static-template  .mpwpb_static_area .mpwpb_static .mp_title h2 {
  color: var(--mpwpb_color_theme_alter);
  text-align: left;
}
.mpwpb-static-template  .mpwpb_static_area .mpwpb_static .mp_title p {
  color: var(--mpwpb_color_theme_alter);
  text-align: left;

}
.mpwpb-static-template  .mpwpb_static_area .mpwpb_static .mp_title .ratings {
  background-color: #fff;
  color: #333;
}
.mpwpb-static-template  .mpwpb_static_area .mpwpb_static .mpwpb_item_box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: 15px 20px;
  margin-bottom: 20px;
  position: relative;
  color: var(--d_color);
  border-radius: 5px;
  background-color: #fff;
}
.mpwpb-static-template  .mpwpb_static_area .mpwpb_static .mpwpb_item_box:last-child {
  margin-bottom: 0;
}
.mpwpb-static-template  .mpwpb_static_area .mpwpb_static .mpwpb_item_box .alignCenter{width: 95%;}
.mpwpb-static-template  .mpwpb_static_area .mpwpb_static .mpwpb_item_box h2 {
  font-weight: bold;
  font-size: 16px;
  color: #3f3f3f;
}
.mpwpb-static-template  .mpwpb_static_area .mpwpb_static .mpwpb_item_box i {
  color: var(--mpwpb_color_theme);
}

/*# sourceMappingURL=mpwpb_registration.css.map */

.mpwpb_popup_body{background:#f5f7fa; }
._dShadow_7.mpwpb_category_area, ._dShadow_7_mB_xs.mpwpb_service_area, ._dShadow_7_mB_xs.mpwpb_extra_service_area, ._dShadow_7.mpwpb_category_area{background:#fff; padding:0px; }
._dShadow_7.mpwpb_category_area {margin-top:10px !important; border-radius:10px !important; border-radius:10px !important}
.service-cart{ background: #fff !important; overflow-y: auto !important;}
.mpwpb_service_item, .mpwpb_extra_service_item {
    border-radius: 10px;
}
.mpwpb_popup_header{
 background-color: var(--mpwpb_color_theme);
}
.mpwpb_popup_header h5{font-size:28px !important;}
.mpwpb_popup_header p{font-size:16px !important;}
.mpwpb_popup_header h5, .mpwpb_popup_header p {
 color: #fff;
 text-align: center;
}
.mpwpb_service_item .mpwpb_service_button, .mpwpb_extra_service_item .mpwpb_price_calculation{
  background-color: var(--mpwpb_color_theme) !important;
}
.mpwpb_style button span{color:#fff !important;}
.mpwpb_service_button:hover{
  background-color: #f5f7fa !important;
}
.mpwpb_service_button.mActive, .mpwpb_extra_service_item .mpwpb_price_calculation.mActive{
  background-color: #4caf50 !important;
}
 div.mpwpb_service_item .mpwpb_service_button, .mpwpb_extra_service_item .mpwpb_price_calculation{border:none !important}
.mpwpb_service_area header h5, .mpwpb_extra_service_area h5{color:#333 !important;}
/*.mpwpb_service_area header,.mpwpb_extra_service_area h5{border-bottom: 1px solid #ddd !important;}*/
.mpwpb_price_qty_remove_holder p, span.mpwpb_total_bill.textTheme{padding-right: 23px !important;}
button.mpwpb_service_button_remove, button.mpwpb_ex_service_button_remove{
  position: absolute;
  right: 0;
  top: 10px;
  padding: 0;
}

.mpwpb_selected_control i.fa-solid.fa-arrow-right {
    font-size: 12px;
    color: #bbb2b2;
}

button.mpwpb_service_button:hover{
    background-color: var(--mpwpb_color_theme) !important;
    color: var(--mpwpb_color_theme_alter) !important;
}
button.mpwpb_service_button.mActive:hover{
   background-color: #4caf50 !important;
}
.mpwpb-default-template  .content .service-cart .mpwpb_summary_area_left_content
 {
    background-color: #fff;
    border-radius: 10px;
    position: relative;
}
.booking-area .service-cart {
    background: none !important;
}
.mpwpb_popup .service-cart {
    background: #fff !important;
}
.mpwpb-popup-content{ padding: 10px; }



/* Container */
/*.mpwpb_progress_container {
  width: 100%;
  padding: 5px 5px;
  display: flex;
  justify-content: center;
}

!* Progress Bar *!
.mpwpb_progress_bar {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 25px;
}

!* Line Behind Steps *!
.mpwpb_progress_line {
  position: absolute;
  top: 50%;
  left: 10%;
  right: 10%;
  height: 2px;
  background-color: #979292;
  z-index: 0;
  transform: translateY(-50%);
  border-radius: 2px;
}

!* Step Buttons *!
.mpwpb_progress_step {
  position: relative;
  z-index: 1;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 50px;
  padding: 10px 15px;
  color: #666;
  cursor: pointer;
  transition: all 0.3s ease;
  white-space: nowrap;
  text-align: center;
  font-size: 12px;
}

!* Active Step *!
.mpwpb_progress_step.active {
  background-color: #4CAF50;
  border-color: #4CAF50;
  color: #fff;
  box-shadow: 0 0 10px rgba(76, 175, 80, 0.4);
}

!* Optional Hover Effect *!
.mpwpb_progress_step:hover {
  border-color: #4CAF50;
  color: #4CAF50;
}*/

.mpwpb_staff_member_booking {
  width: 100%;
  padding: 10px 15px;
  font-size: 16px;
  color: #333;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
  transition: all 0.3s ease;
  background-repeat: no-repeat;

  box-sizing: border-box;
  max-height: 300px;
  overflow-y: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

.mpwpb_select_staff_image{
  width: 70px !important;
}

.mpwpb_date_staff_select{
  cursor: pointer;
}

.mpwp_select_staff_wrapper {
  padding: 20px;
  font-family: 'Segoe UI', sans-serif;
}

.mpwp_select_staff_grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 10px;
}

.mpwp_select_staff_card {
  background: #fff;
  border: 2px solid #e0e0e0;
  border-radius: 12px;
  padding: 15px;
  text-align: center;
  cursor: pointer;
  transition: 0.3s ease;
}

.mpwp_select_staff_card.selected {
  border-color: #4CAF50;
  box-shadow: 0 0 10px rgba(76, 175, 80, 0.15);
}

.mpwp_select_staff_img {
  width: 70px;
  height: 70px;
  border-radius: 10px;
  object-fit: cover;
  margin-bottom: 10px;
}

.mpwp_select_staff_name {
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 4px;
}

.mpwp_select_staff_email {
  font-size: 12px;
  color: #666;
}

.mpwpb_cart_progress_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1px;
  padding: 5px;
  background: #f9fbfd;
}

.mpwpb_cart_progress_step {
  display: flex;
  /*flex-direction: column;*/
  flex-direction: row;
  align-items: center;
  color: #999;
  gap: 8px;
}

.mpwpb_cart_progress_step.active {
  color: #2563eb;
  font-weight: bold;
}

.mpwpb_cart_progress_circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #e0e0e0;
  color: #555;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  margin-bottom: 5px;
  transition: background 0.3s, color 0.3s;
}

.mpwpb_cart_progress_step.active .mpwpb_cart_progress_circle {
  background: #2563eb;
  color: white;
}

.mpwpb_cart_progress_arrow {
  color: #ccc;
  font-size: 18px;
  padding: 0 5px;
}

.mpwpb_get_date_selected{
  background-color: #ff6b9d !important;
  color: aliceblue !important;
}

.mpwpb_get_date{
  background-color: var(--mpwpb_color_light);
  cursor: pointer;
  padding: 15px !important;
  min-height: 80px !important;
  border-radius: 10px;
}

.mpwpb_get_date:hover {
  border: 1px solid #ff6b9d;
  background: #fef2f2;
}

.mpwpb_get_close_date
{
  background-color: #fbeeee  !important;
  cursor: pointer;
  padding: 15px !important;
  min-height: 80px !important;
  border-radius: 10px;
}

.mpwpb_time_display{
  display: flex;
  gap: 10px;
  padding: 20px 5px 5px 5px;
  flex-wrap: wrap;
}
.mpwpb_time_btn{
  padding: 15px !important;
}

.mpwpb_close_text{
  position: absolute;
  color: #e76840;
  font-size: 11px;
}

.mpqpb_next_prev_btn_display {
  display: flex;
  justify-content: start;
  align-items: center;
  margin: 20px auto;
}

.mpwpb_next_prev_btn {
  background-color: #f94e87;
  color: white;
  padding: 8px 15px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.mpwpb_next_prev_btn:hover {
  cursor: pointer;
  background-color: #df185a;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.2);
  transform: translateY(-2px);
}

.mpwpb_active_time{
  background-color: #ff6b9d !important;
  color: #fff !important;
}
.mpwpb_without_cat_service_area .mpwpb_service_item{
  border-radius: 3px;
  padding: var(--mpwpb_dmp_xs);
  margin: var(--mpwpb_dmp_xs) 0;
  position: relative;
  border: 1px solid var(--mpwpb_color_light_2);
  background-color: #f4f5f8;
}

.mpwpb-static-template .sidebar
{
    width: 100%;
    padding-bottom: 10px;
}
@media only screen and (min-width: 768px) {
  .mpwpb-static-template .sidebar
  {
      width: 40%;
      padding-bottom: 10px;
  }
}
@media only screen and (min-width: 10px) {
    div.mpwpb_style label, div.mpwpb_style [class*="_fs_label"]
    {
        font-size: 14px;
        font-weight: normal;
        margin-bottom: 5px;
    }
}
.mpwpb_select_time_holder .mpwpb_time_btn{font-weight:normal; }
span.mptrs_day_with_date {
    color: var(--mpwpb_color_theme);
}

.mpwpb_get_date_selected.mpwpb_get_date span.mptrs_day_with_date{color: aliceblue !important;}
