/********************************************************************  ************************************************/
@media only screen and (min-width: 10px) {
  div.mpwpb_style div.mpwpb_price_settings .formControl {
    text-align: left;
    height: 36px;
  }
  /*************/
  div.mpwpb_category_header,
  div.mpwpb_category_header div.mpwpb_service_area {
    text-align: center;
    background-color: var(--mpwpb_color_theme);
    color: #fff;
  }
  div.mpwpb_category_header div.mpwpb_category_content {
    text-align: center;
  }

  div.mpwpb_category_header
    div.mpwpb_sub_category_item.mActive
    ~ div.mpwpb_sub_category_content,
  div.mpwpb_category_header div.mpwpb_service_content,
  div.mpwpb_category_header div.mpwpb_service_item,
  div.mpwpb_category_header div.mpwpb_sub_category_item,
  div.mpwpb_category_header div.mpwpb_sub_category_content {
    border-bottom: none;
  }
  /***/
  div.mpwpb_category_area {
    display: -webkit-inline-flex;
    display: inline-flex;
    width: 100%;
  }
  div.mpwpb_category_item {
    padding: 7px;
    border-left: 1px solid var(--mpwpb_color_border);
    border-bottom: 1px solid var(--mpwpb_color_border);
    max-width: 200px;
    width: 100%;
    min-width: 200px;
  }
  div.mpwpb_category_content {
    width: 100%;
  }
  div.mpwpb_category_item.mActive ~ div.mpwpb_category_content {
    border-bottom: 1px solid var(--mpwpb_color_border);
  }
  /*****/
  div.mpwpb_sub_category_area {
    display: -webkit-inline-flex;
    display: inline-flex;
    width: 100%;
  }
  div.mpwpb_sub_category_item {
    padding: 7px;
    border-left: 1px solid var(--mpwpb_color_border);
    border-bottom: 1px solid var(--mpwpb_color_border);
    max-width: 200px;
    width: 100%;
    min-width: 200px;
  }
  div.mpwpb_sub_category_content {
    width: 100%;
    border-right: 1px solid var(--mpwpb_color_border);
  }
  div.mpwpb_sub_category_item.mActive ~ div.mpwpb_sub_category_content {
    border-bottom: 1px solid var(--mpwpb_color_border);
  }
  /*************/
  div.mpwpb_service_area {
    display: -webkit-inline-flex;
    display: inline-flex;
    width: 100%;
  }
  div.mpwpb_service_item {
    padding: 7px;
    border: 1px solid var(--mpwpb_color_border);
    min-width: 250px;
    width: 100%;
  }
  div.mpwpb_service_content {
    padding: 7px;
    border-left: 1px solid var(--mpwpb_color_border);
    border-bottom: 1px solid var(--mpwpb_color_border);
    min-width: 120px;
    max-width: 150px;
  }
  /********************/
  div.mpwpb_price_settings .mp_item_insert > div:nth-child(odd),
  div.mpwpb_price_settings
    .mp_item_insert
    > div:nth-child(odd)
    .mpwpb_category_content {
    background-color: #EFFAFF;
  }
  div.mpwpb_price_settings
    .mp_item_insert
    > div:nth-child(odd)
    .mp_item_insert
    > div:nth-child(odd) {
    background-color: #fff;
  }
  div.mpwpb_price_settings
    .mp_item_insert
    > div:nth-child(odd)
    .mp_item_insert
    > div:nth-child(odd)
    .mp_item_insert
    > div:nth-child(odd) {
    background-color: #fff;
  }
  div.mpwpb_price_settings
    .mp_item_insert
    > div:nth-child(odd)
    .mp_item_insert
    > div:nth-child(odd)
    .mp_item_insert
    > div:nth-child(even) {
    background-color: #EFFAFF;
  }
  div.mpwpb_price_settings
    .mp_item_insert
    > div:nth-child(odd)
    .mp_item_insert
    > div:nth-child(even) {
    background-color: #f8f8f8;
  }
  div.mpwpb_price_settings
    .mp_item_insert
    > div:nth-child(odd)
    .mp_item_insert
    > div:nth-child(even)
    .mp_item_insert
    > div:nth-child(odd) {
    background-color: #fff;
  }
  div.mpwpb_price_settings
    .mp_item_insert
    > div:nth-child(odd)
    .mp_item_insert
    > div:nth-child(even)
    .mp_item_insert
    > div:nth-child(even) {
    background-color: #EFFAFF;
  }
  div.mpwpb_price_settings .mp_item_insert > div:nth-child(even),
  div.mpwpb_price_settings
    .mp_item_insert
    > div:nth-child(even)
    .mpwpb_category_content {
    background-color: #e0e0e0;
  }
  div.mpwpb_price_settings
    .mp_item_insert
    > div:nth-child(even)
    .mp_item_insert
    > div:nth-child(odd) {
    background-color: #fff;
  }
  div.mpwpb_price_settings
    .mp_item_insert
    > div:nth-child(even)
    .mp_item_insert
    > div:nth-child(odd)
    .mp_item_insert
    > div:nth-child(odd) {
    background-color: #fff;
  }
  div.mpwpb_price_settings
    .mp_item_insert
    > div:nth-child(even)
    .mp_item_insert
    > div:nth-child(odd)
    .mp_item_insert
    > div:nth-child(even) {
    background-color: #EFFAFF;
  }
  div.mpwpb_price_settings
    .mp_item_insert
    > div:nth-child(even)
    .mp_item_insert
    > div:nth-child(even) {
    background-color: #f9e1c9;
  }
  div.mpwpb_price_settings
    .mp_item_insert
    > div:nth-child(even)
    .mp_item_insert
    > div:nth-child(even)
    .mp_item_insert
    > div:nth-child(odd) {
    background-color: #fff;
  }
  div.mpwpb_price_settings
    .mp_item_insert
    > div:nth-child(even)
    .mp_item_insert
    > div:nth-child(even)
    .mp_item_insert
    > div:nth-child(even) {
    background-color: #EFFAFF;
  }
}
/********************************************************************  ************************************************/
@media only screen and (min-width: 10px) {
  div.mpwpb_add_staff form label span::before {
    margin: 0 var(--mpwpb_dmp_xs) 0 0;
  }
}

.category-service-area .category-container{
    background: linear-gradient(to bottom, #4361ee, #7209b7);
}
.category-service-area .category-container .header button{border:none; background:none }
