#mp_meta_box_panel{
    .postbox-header{
        background-color: var(--mage-primary);
        .handle-order-higher, .handle-order-lower, .toggle-indicator {
            color: #fff;
        }
    }
    .metabox{
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        .tabLists{
            width: 20%;
            
            display: flex;
            flex-direction: column;
            background-color:var(--mage-light);
            border: 0;
            padding: 25px 0 25px 25px;
            li{
                position: relative;
                display: flex;
                align-items: center;
                cursor: pointer;
                padding: 15px;
                color: var(--mage-black);
                border-left: 2px solid transparent;
                font-size: 16px;
                margin: 0;
                i{
                    margin: 0 10px 0 0;
                    color: var(--mage-primary);
                }
                &.active,&:hover{
                    background-color: var(--mage-white);
                    color: var(--mage-black);
                    border-left: 2px solid var(--mage-primary);
                    font-weight:normal;
                    &::after{
                        width: 100%;
                    }
                }
                &::after{
                    content: "";
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    border-bottom: 1px solid var(--mage-border);
                    width: 90%;
                }
            }
            
        }
        .tabsContent{
            width: 80%;
            width: 80%;
            padding: 2% 5%;
            overflow: hidden;
            header{
                margin:20px 0;
                h2{
                    padding: 0;
                    color: var(--mage-black);
                    margin-bottom: 10px;
                    font-size: 22px;
                    font-weight: 700;
                }
            }
            section{
                padding: 20px;
                border: 1px solid var(--mage-light);
                margin-top: -1px;
                &.section{
                    background-color: var(--mage-light);
                    margin-top: 50px;
                    h2{
                        font-weight: 600;
                        color: var(--mage-black);
                        padding: 0;
                        font-size: 16px;
                    }
                }
                label.label{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    cursor: pointer;
                    font-weight: normal;
                    color: var(--mage-black); 
                    font-size: 14px;
                    p{
                        
                        font-weight: bold;
                        line-height: 1.2;
                        margin-bottom: 5px;
                        color: var(--mage-black); 
                    }
                    input, select, textarea{
                        width:360px;
                    }
                    span{
                        font-size: 14px;
                        font-weight: normal;
                    }
                    
                }
            }
            @extend .mpwpb-faq;
        }
    }
    //=================== estra service table============
    table.table{
        border: 1px solid var(--mage-border);
        border-collapse: collapse;
        overflow: scroll;
        thead{
            tr{
                th{
                    text-align: center;
                    font-weight: normal;
                    font-size: 16px;
                    padding: 10px 5px;
                    border: 1px solid var(--mage-border);
                    border-collapse: collapse;
                }
            }
        }
        tbody{
            tr{
                height: 40px;
                padding:5px;
                &:nth-child(even){
                    background-color: var(--mage-light-2);
                }
                td{
                    font-weight: normal;
                    text-align: center;
                    vertical-align: middle;
                    padding: 5px;
                    border: 1px solid var(--mage-border);
                    border-collapse: collapse;
                    &:first-child{
                        text-align: center;
                        img{
                            display: block;
                            width: 60px;
                            height:40px;
                            object-fit: cover;
                            border-radius:2px;
                            border:1px solid var(--mage-border);
                            margin: auto;
                        }
                        i{
                            font-size: 28px;
                            border: 1px solid var(--mage-border);
                            background-color: var(--mage-light);
                            color: var(--mage-dark);
                            height:40px;
                            font-size: 36px;
                            width: 54px;
                            border-radius: 0;
                        }
                    }
                    
                    &:last-child{
                        i{
                            background-color: #fff;
                            border:1px solid var(--mage-border);
                            color: var(--mage-primary);
                            border-radius: 2px;
                            padding: 7px 10px;
                            cursor: pointer;
                        }
                    }
                }
                
            }
        }
    }
}
//=================== category service ============
.mpwpb-category-lists{
    width:600px;
    margin: auto;
    margin-bottom: 20px; 
    .mpwpb-category-items{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: -1px;
        border: 1px solid var(--mage-light);
        padding: 5px;
        min-height: 50px;
        .image-block{
            display: flex;
            align-items: center;
            justify-content: start;
            gap: 10px;
            img{
                width: 70px;
                height: 100%;
                object-fit: cover;
                object-position: center;
                border-radius: 0;
            }
            i{
                background-color: var(--mage-light);
                font-size: 40px;
                width: 70px;
                height: 38px;
                color: var(--mage-primary);
                text-align: center;
            }
        }
        .title{
            text-transform: capitalize;
            font-weight: bold;
            font-size: 16px;
        }
        .action{
            i{
                color: var(--mage-primary);
                padding: 7px 10px;
                cursor: pointer;
            }
        }

    }
    .mpwpb-sub-category-items{
        @extend .mpwpb-category-items;
        margin-left: 70px;
        &:last-child{
            margin-bottom: 20px;
        }
    }
}

//=================== faq============
.mpwpb-faq{
    .faq-header{
        position: relative;
        z-index: 0;
        .faq-action{
            position:absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
            z-index:1;
            span{
                padding: 5px 10px;
                background-color: var(--mage-light);
                color: var(--mage-primary);
                border-radius: 2px;
            }
        }
    }
    .faq-content{
        display: none;
    }
}

.mpwpb-sidebar-container{
    .mpwpb-sidebar-content{
        p{
            margin: 15px 0;
        }
        h3{
            font-size: 18px;
            padding: 0;
            margin: 5px 0;
            margin-bottom: 30px;
        }
        input[type='text'],input[type='number'],textarea,select{
            width: 100%;
            display: block;
            font-weight: normal;
            padding: 10px;
            font-size: 18px;
            border: 1px solid #dfdfdf;
        }
        label{
            display: flex;
            justify-content: start;
            align-items: start;
            flex-direction: column;
            font-weight: normal;
            font-size: 18px;
            gap: 7px;
            margin: 15px 0;
        }
        .mp_add_icon_image_area{
            position: relative;
            max-width: 202px;
            margin: 10px 0;
            .mp_add_icon_image_button_area{
                display: flex;
                flex-direction: row;
                justify-content: start;
                border: 1px solid #8c8f94;
                width: 100%;
                border-radius: 3px;
                .mp_image_add,.mp_icon_add{
                    padding:10px 26px;
                    border-radius: 0;
                    margin: 1px;
                }
            }
        }
    }
}

